<!doctype html>
<html>
  <head>
    <title>{{ .Title }} | {{ $.Site.Title }}</title>

    <meta charset="utf-8">
    
    <meta name="description" content="{{ .Params.teaser }} {{ $.Site.Params.Description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/syntax-highlighting.css" rel="stylesheet">
  </head>
  <body class="tutorial">

    {{ partial "header.html" . }}

    <div class="tutorial-post">

      <div class="tutorial-content" style="width: 80%; text-align: center;">
        {{ .Content }}
      
      </div>
    </div>
    
    {{ partial "footer.html" . }}

    {{ partial "tracking.html" . }}
  </body>
</html>
