<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ $.Site.Title }}</title>

    <meta charset="utf-8" />

    <meta name="description" content="{{ $.Site.Params.Description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono"
      rel="stylesheet"
    />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body class="main">
    {{ partial "header.html" . }}
    <iframe src="https://radio.zenberg.org/public/zenberg/embed?theme=light" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 150px; border: 0;"></iframe>
    <article class="home-options">
      <div class="main-option">
        <a href="/enterprises">
          <h2>Enterprises</h2>
          <p>
            Small, but proud. 
          </p>
          <p class="get-started">
            Share
          </p>
        </a>
      </div>
      <div class="main-option">
        <a href="/people">
          <h2>People</h2>
          <p>
            Down, but rising
          </p>
          <p class="get-started">
            Support
          </p>
        </a>
      </div>
    </article>
    <!-- <iframe src="http://34.65.244.1/public/zenberg" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 800px; border: 0;"></iframe> -->
    {{ partial "footer.html" . }} {{ partial "tracking.html" . }}
    <script src="/js/favicon.js"></script>
  </body>
</html>
